*{ /* Atributo global css */
    margin: 0;   /*para retirar margem */
    color: white; 
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.container{
 display: flex;
 flex-direction: column;
 background-color: black;
 height: 100vh;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 2em 25vw;
    justify-content: space-between;
}

ul li {
    cursor: pointer
}