*{
    margin: 0;
    color: white;
}

.container{
 display: flex;
 flex-direction: column;
 background-color: black;
 height: 100vh;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 2em 25vw;
    justify-content: space-between;
}